@media screen and (max-width:1500px){

	/* Main screen */

	/* Product */
	.cat-list__body {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (max-width:1420px){
	.search__plug {
		display: none;
	}
	.filter__aside {
		display: none;
	}
	.filter__form {
		width: 100%;
	}
	.news-box__text {
		padding: 24px;
	}
}

@media screen and (max-width:1400px){
	/* Header top */
	.header__panel-btn {
		padding: 17px 31px;
	}
	.header__panel {
		justify-content: flex-start;
		margin: 0 20px 0 67px;
	}
	.search {
		max-width: 297px;
	}
	.certificate__item {
		padding: 20px;
	}


	/* Catalog-list START */
	.makers__body {
		grid-template-columns: repeat(4, 1fr);
	}
	.makers__item:nth-child(1) {
		grid-column: span 2;
		grid-row:2;
	}
	.makers__item:nth-child(2) {
		grid-column: span 2;
		grid-row:2;
	}
	.makers__item:nth-child(1) .makers__text,
	.makers__item:nth-child(2) .makers__text {
		margin: 0px 0px 46px 0px;
	}
	/* Catalog-list END */

	/* Footer */
	.footer .aware__form-input {
		width: 100%;
	}
}

@media screen and (max-width:1250px){
	.header__panel-btn {
		padding: 15px 25px;
		margin: 0px 13px 0px 0px;
	}
	.search__main {
		display: none;
	}
	.search__submit {
		display: none;
	}
	.search__trigger {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.reviews__item {
		padding: 24px;
	}
	.reviews__writem {
		padding: 0 8px;
	}
	.reviews__body {
		margin: 0px -8px 16px;
	}

	.header-main__inner--active .search__main {
		display: block;
	}
	.header-main__inner--active .search__submit {
		display: block;
	}
	.header-main__inner--active .search__trigger {
		display: none;
	}
	.header-main__inner--active .boxpanel__link {
		padding: 0 5px;
	}
	.search .search__main {
		padding: 13.5px 16px;
	}

}

@media screen and (max-width:1300px){
	.pros__inner {
		margin: 0 -8px;
	}
	.pros__item {
		width: calc(25% - 16px);
		margin: 0 8px;
		padding: 26px;
	}
	.pros__icon {
		margin: 0px 0px 40px 0px;
	}
	.pros__title {
		font-size: 14px;
	}
	.pros__subtitle {
		font-size: 13px;
	}
}

@media screen and (max-width:1200px){}

@media screen and (max-width:1150px){
	.container {
		max-width: 1548px;
		padding: 0 24px;
	}
	.face {
		margin: 0px 0px 32px 0px;
	}
	.distance-tune {
		padding: 32px 0;
	}
	.title {
		font-size: 28px;
		margin: 0px 0px 32px 0px;
	}
	.cat-list__form {
		margin: -12px -6px 32px;
	}
	.reviews__head {
		margin: 0px 0px 32px 0px;
	}
	.nav-panel__item {
		padding: 15px 24px;
	}


	.header-caller {
		margin: 0 43px;
	}
	.header-city__name {
		display: none;
	}
	.header__panel {
		margin: 0 20px 0 33px;
	}
	.boxpanel__link {
		padding: 0 12px;
	}
	.nav-menu ul li {
		margin-right: 16px;
	}
	.header-main {
		padding: 16px 0;
	}
	.header-menu {
		padding-bottom: 16px;
	}

	/* Main screen */
	.week {
		width: 226px;
		margin-left: 16px;
	}
	.slider__text {
		left: 24px;
		bottom: 24px;
	}
	.slider {
		max-height: 528px;
	}
	.slider__img {
		height: 528px;
	}
	.slider__title {
		font-size: 28px;
	}
	.slider__info, 
	.slider__info p {
		font-size: 14px;
	}
	.slider__arrow {
		width: 32px;
		height: 32px;
	}
	.slider__arrow svg {
		width: 7px;
	}
	.week__title {
		font-size: 20px; 
		margin-bottom: 13px;
	}
	.timer {
		margin: 0px 0px 17px 0px;
	}
	.week__slider {
		max-height: 411px;
		margin-bottom: 16px;
	}
	.navigate__arrow {
		width: 32px;
		height: 32px;
		background-size: 9px;
	}
	.navigate__item:nth-child(1) .navigate__text {
		display: none;
	}

	.filter__form {
		padding: 24px;
	}
	.filter-type {
		margin: -6px -6px 18px -6px;
	}
	.filter-wide {
		grid-gap: 24px;
		margin-bottom: 24px;
	}

	/* Product */
	.cat-list__body {
		grid-gap: 16px;
	}

	/* Catalog-list START */
	.makers__body {
		grid-gap: 16px;
	}
	.makers__text {
		font-size: 12px;
	}
	/* Catalog-list END */

	.cat-list__body {
		gap: 16px;
		margin-bottom: 16px;
	}
	.tab-panel__item {
		padding: 14px 17px;
	}
	.offers__nav {
		margin: 0px 0px 32px 0px;
	}

	.certificate__writem {
		padding: 0 8px;
	}
	.certificates__body {
		margin: 0 -8px 16px;
	}
	.certificate__item::after {
		width: 32px;
		height: 32px;
	}

	.news__tab-panel {
		margin: 0px 0px 32px 0px;
	}
	.news-box {
		grid-gap: 16px;
	}
	.news-box__image {
		padding-top: 80.08%;
	}
	.news-box__date {
		margin-bottom: 16px;
	}
	.news-box__tlt {
		margin: 0px 0px 16px 0px;
	}
	.xpanel {
		margin: 0px 0px 20px 0px; 
	}


	/* Footer */
	.footer__soc {
		margin-right: 44px;
	}
	.footer__pay-img + .footer__pay-img {
		margin-left: 24px;
	}
	.aware__form-tlt {
		font-size: 18px;
	}
	.aware {
		padding: 40px 0;
	}
	.aware__about-text {
		max-width: 304px;
	}
	.footer__inner {
		padding: 40px 0;
	}
	.footer__contact-get {
		margin: 0px 0px 24px 0px;
	}
	.footer__contact-link {
		font-size: 18px;
	}
	.footer__nav-drop {
		margin: 0px 0px 16px 0px;
	}
	.footer__nav-tlt {
		font-size: 18px;
	}
	.footer__contact-btns {
		gap: 16px;
	}
	.footer__copyright p {
		max-width: 242px;
	}
	.footer__bottom {
		padding: 24px 0;
	}
	.footer__reach {
		padding: 24px 0;
	}
	.footer__soc-item {
		width: 32px;
		height: 32px;
	}
	.btn {
		padding: 15px 25px;
	}
	.footer__pay-img:nth-child(1) {
		width: 62px;
		height: 20px;
	}
	.footer__pay-img:nth-child(2) {
		width: 30px;
		height: 20px;
	}
	.footer__pay-img:nth-child(3) {
		width: 78px;
		height: 20px;
	}
	.news__tab-body {
		margin: 0px 0px 16px 0px;
	}
	.watched__body {
		margin: 0 -8px 16px;
	}
	.watched-offers {
		margin: 0 8px;
	}
}

@media screen and (min-width:993px) and (max-width:1100px){
	.header__logo-img {
		min-width: 234px;
	}
}

@media screen and (max-width:992px){
	.header-caller__text {
		display: none;
	} 

	.header__logo-img {
		min-width: 226px;
		height: 44px;
		margin-left: -8px;
	}
	.header__logo {
		width: 44px;
		min-width: 44px;
		overflow: hidden;
	}
	.header__panel {
		margin: 0 20px 0 36px;
	}
	.boxpanel__link {
		margin-top: 2px;
		padding: 0 10px;
	}
	.boxpanel__icon {
		margin-bottom: 0;
	}
	.boxpanel__name {
		display: none;
	}
	.search__trigger {
		display: none;
	}
	.search__submit {
		display: block;
	}
	.search .search__main {
		display: block;
	}
	.search {
		max-width: 233px;
	}

	.filter__line-tlt {
		font-size: 14px;
		margin: 0px 0px 16px 0px;
	}
	.filter__item {
		margin: 4px;
	}
	.filter-type {
		margin: -4px -4px 18px -4px;
	}
	.filter__scroll {
		max-height: 155px;
	}

	/* Main screen */
	.face__inner {
		display: block;
	}
	.slider {
		max-height: 460px;
		margin-bottom: 32px;
	}
	.slider__img {
		height: 460px;
	} 
	.slider__title {
		font-size: 24px;
	}
	.week {
		width: 100%;
		margin-left: 0;
	}
	.week__title {
		font-size: 22px;
		margin-bottom: 16px;
	}
	.timer {
		margin: 0px 0px 27px 0px;
	}
	.navigate__item:nth-child(1) .navigate__text {
		display: block;
	}
	.navigate__arrow {
		width: 40px;
		height: 40px;
	}

	/* Product */
	.cat-list__body {
		grid-template-columns: repeat(3, 1fr);
	}

	/* Catalog-list START */
	.makers__body {
		grid-template-columns: repeat(2, 1fr);
	}
	.makers__item:nth-child(1) {
		grid-column: 1;
		grid-row:1;
	}
	.makers__item:nth-child(2) {
		grid-column: 1;
		grid-row:1;
	}
	.makers__text {
		margin: 0px 0px 34px 0px;
	}
	.makers__item:nth-child(1) .makers__text, 
	.makers__item:nth-child(2) .makers__text {
		margin: 0px 0px 34px 0px;
	}
	.makers__text {
		font-size: 13px;
	}
	/* Catalog-list END */

	.pros__inner {
		margin: -8px;
		flex-wrap: wrap;
	}
	.pros__item {
		width: calc(50% - 16px);
		margin: 8px;
	}
	.pros__icon {
		margin: 0px 0px 56px 0px;
	}
	.pros__title {
		font-size: 15px;
	}

	.certificate__item {
		padding: 17px;
	}
	.news__tab-panel {
		margin: 0px 0px 16px 0px;
	}
	.news-box {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 16px;
	}
	.news-box__item:nth-child(4) {
		display: none;
	}
	.title {
		font-size: 22px;
		margin: 0px 0px 26px 0px;
	}
	.cat-list__form {
		margin: -12px -6px 26px;
	}
	.extand-more {
		padding: 12px;
	}
	.distance-tune {
		padding: 26px 0;
	}
	.reviews__title {
		margin: 0px 0px 16px 0px;
	}
	.reviews__subtitle {
		margin: 0px 0px 16px 0px;
	}
	.reviews__head {
		margin: 0px 0px 26px 0px;
	}
	.offers__nav {
		margin: 0px 0px 16px 0px;
	}
	.news-box__image {
		padding-top: 77.29%;
	}


	/* Footer */
	.aware__politic {
		font-size: 13px;
	}
	.btn {
		padding: 13px 25px;
	}
	.footer .aware__form-input {
		padding: 11.5px 24px; 
	}
	.aware__form-tlt {
		font-size: 16px;
	}
	.aware {
		padding: 32px 0;
	}
	.aware__img {
		width: 202px;
	}
	.aware__image {
		margin: 0px 0px 16px 0px;
	}
	.aware__about-text {
		font-size: 13px;
	}
	.footer__inner {
		padding: 32px 0;
	}
	.footer__contact-time {
		font-size: 13px;
		margin: 0px 0px 20px 0px;
	}
	.footer__contact-link {
		font-size: 18px;
	}
	.footer__contact-txt {
		font-size: 13px;
	}
	.footer__contact-get {
		margin: 0px 0px 20px 0px;
	}
	.footer__contact-btns {
		max-width: 156px;
		flex-direction: column;
		gap: 8px;
	}
	.footer__nav-tlt {
		font-size: 16px;
	}
	.footer__li:not(:last-child) {
		margin: 0px 0px 11px 0px;
	}
	.footer__soc {
		margin-right: auto;
	}
	.footer__links {
		font-size: 13px;
	}
	.footer__copyright p {
		max-width: 225px;
		font-size: 13px;
	}
	.footer__nav {
		margin: 0 -8px 0 12px;
	}
	.footer__nav-item {
		max-width: 150px;
		padding: 0 8px;
	}
	.aside--left {
		max-width: 228px;
	}
	.main {
		padding: 16px 0;
	}
}

@media screen and (max-width:960px){
	/*.buttonMenu{
		display:block;
	}
	.show_menu header nav .menu-container {
		left: 0;
	}
	.nav-menu__email{
		display:none;
	}
	.menu-container {
		position: fixed;
		top: 0;
		width: 100%;
		height: 100vh;
		left: -100%;
		bottom: 0;
		z-index: 99;
		background: rgba(0, 0, 0, 0.33);
		transition: .3s all;
	}
	.menu-container__close, 
	.menu-container__close:before {
		width: 55px;
		height: 55px;
		background: #121212;
		content: "";
		display: block;
		right: 0;
		top: 0;
		position: absolute;
		z-index: 1;
	}
	.menu-container__close:before {
		width: 24px;
		height: 22px;
		background: url(../images/icons/close.svg) no-repeat 50% 50%;
		background-size: contain;
		margin: 16px;
		z-index: 2;
	}
	.menu-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		right: 55px;
		bottom: 0;
		background: #fff;
		overflow: auto;
		/*padding: 15px 15px 205px;*/
	/*}
	.nav-menu ul, 
	.nav-menu ul li {
		width:100%;
		margin:0;
	}
	.nav-menu ul li a {
		border-bottom:1px solid #dbe0e2;
		padding-left:0;
		padding-right:0;
		position: relative;
	}
	.nav-menu ul li a:hover {
		background:none;
	}
	body.show_menu {
		overflow: hidden;
	}
	.nav-menu__footer {
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		background:#fff;
		padding:15px 15px 0;
		display:block;
	}
	.nav-menu__phone {
		font-size:20px;
	}
	.nav-menu__email {
		margin: 10px 0 20px;
		text-transform:none;
	}
	.nav-menu__btn {
		padding:5px 15px;
	}
	.nav-menu__bottomline {
		background:#eee;
		color:#767676;
		margin-left:-15px;
		margin-right:-15px;
		margin-top:20px;
		padding:8px 15px;
		font-size:12px;
	}

	.menu-wrapper__inner {
		position: relative;
		padding: 15px 15px 205px;
		min-height: 100vh;
		box-sizing: border-box;
	}

	.menu-wrapper ul li.menu-item-has-children ul{
		position: static;
		margin-top: 0;
		opacity: 1;
		background: #fff;
		padding: 0;
		border-radius: 0;
		min-width: auto;
	}
	.menu-wrapper ul li.menu-item-has-children > a:after {
		content: "";
		display: block;
		width: 9px;
		height: 10px;
		position: absolute;
		top: 50%;
		margin-top: -5px;
		right: 10px;
		background: url(../images/icons/right-arrow.svg) no-repeat 0 0;
		background-size: contain;
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
		transition: .3s all;
	}
	.menu-wrapper ul li.menu-item-has-children > a.rotate:after {
		content: "";
		-moz-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-webkit-transform: rotate(270deg);
		-o-transform: rotate(270deg);
		transform: rotate(270deg);
		transition: .3s all;
		margin-left: -3px;
		margin-top: -7px;
		transition: .3s all;
	}
	.menu-wrapper ul > li > ul {
		opacity: 1;
		box-shadow: none !important;
		display: none;
		transition: .3s all;
	}
	.menu-wrapper ul li ul.sub-menu li {
		overflow: initial;
	}
	.menu-wrapper ul li ul.sub-menu li a{
		padding: 15px 25px;
	}*/
}

@media screen and (max-width:750px){
	.header__panel-btn {
		padding: 15px 21px;
	}
	.header__panel-btn span {
		padding-left: 25px;
		width: 0;
		overflow: hidden;
		display: block;
		text-indent: 1000px;
	}
	.header__panel {
		margin: 0 20px;
	}
	.footer__pay-img + .footer__pay-img {
		margin-left: 10px;
	}
	.filter-wide {
		display: block;
	}
	.filter__line:not(:last-child) {
		margin-bottom: 24px;
	}
	.filter__scroll {
		max-height: 144px;
	}
	.filter-mobilebtn {
		display: block;
		padding: 12px 18px;
		border: 1px solid #EFEFEF;
		border-radius: 4px;
		cursor: pointer;
		width: 100%;
		margin-bottom: 24px;
		position: relative;
	}
	.filter-mobilebtn::after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 40px;
		height: 12px;
		background-image: url(../images/icons/dropdown-wide.svg);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 12px;
		position: absolute;
		top:50%;
		left: auto;
		right: 0;
		z-index: 2;
		transform: translateY(-50%);
	}
	.filter__form--active .filter-mobilebtn::after {
		transform: translateY(-50%) rotate(-180deg);
	}
	.filter-mobilebtn span {
		font-weight: 500;
		font-size: 14px;
		line-height: 14px;
		display: flex;
		align-items: flex-end;
		letter-spacing: -0.02em;
		color: #731B55;
	}
	.filter-type {
		margin: 0;
		display: block;
		position: absolute;
		top: 55px;
		left: 0;
		right: 0;
		z-index: 5;
		background-color: #fff;
		padding-bottom: 15px;
		display: none;
	}
	.filter__item {
		display: block;
		margin: 0 0 10px;
	}
	.filter__item:last-child {
		margin: 0;
	}
	.filter__item-txt {
		font-size: 13px;
		line-height: 13px;
		padding: 12px 18px;
	}
	.filter__form {
		padding: 0;
		border: none;
		position: relative;
	}
	.cat-list {
		display: none;
	}
	.cat-list__body {
		grid-template-columns: repeat(2, 1fr);
	}

	.news-box {
		grid-template-columns: repeat(2, 1fr);
	}
	.news-box__item:nth-child(3) {
		display: none;
	}

	.tab-panel__wrapper {
		margin: 0;
		display: block;
		position: absolute;
		top: 55px;
		left: 0;
		right: 0;
		z-index: 5;
		background-color: #fff;
		padding-bottom: 15px;
		display: none;
	}
	.tab-panel__btn {
		display: block;
	}
	.tab-panel__item {
		display: block;
		margin: 0 0 7px;
		width: 100%;
		text-align: left;
		padding: 10px 18px;
		font-size: 13px;
		line-height: 13px;
		color: #9F9F9F !important;
		background-color: #fff !important;
		border: 1px solid #EFEFEF !important;
	}
	.tab-panel__item + .tab-panel__item {
		margin-left: 0;
	}
	.tab-panel--active .tab-panel__btn span::after {
		transform: translateY(-50%) rotate(-180deg);
	}

}

@media screen and (max-width:700px){
	.cat-list {
		display: none;
	}
	.header-main__inner {
		flex-direction: column;
		align-items: initial;
	}
	.header__logo {
		width: inherit;
		min-width: initial;
		overflow: inherit;
		align-self: center;
		margin-bottom: 16px;
	}
	.header__logo-img {
		min-width: 196px;
		height: 40px;
		margin-left: auto;
	}
	.extra-burger {
		width: 66px;
		min-width: 66px;
		background-color: #FFFFFF;
		border: 1px solid #EFEFEF;
		border-radius: 4px;
		display: block;
		margin-left: 16px;
		align-self: stretch;
		cursor: pointer;
	}
	.extra-burger span {
		position: relative;
		z-index: 1;
	}
	.extra-burger span:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 18px;
		height: 18px;
		background-image: url(../images/icons/extra-burger.svg);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: contain;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 2;
		transform: translate(-50%, -50%);
	}
	.boxpanel--header {
		order: -1;
		margin-bottom: 17px;
	}
	.boxpanel__icon {
		margin-bottom: 10px;
	}
	.boxpanel__name {
		display: block;
		font-size: 11px;
		line-height: 11px;
	}
	.header__panel-btn {
		margin: 0px 16px 0px 0px;
	}
	.search--header {
		max-width: initial;
		flex-grow: 1;
	}
	.search .search__main {
		padding: 11.5px 16px;
	}
	.header__panel-btn {
		padding: 13px 21px;
	}
	.search__submit {
		width: 40px;
	}
	.header__panel {
		margin: 0;
	}
	.header-menu {
		padding-bottom: 16px;
	}
	.aware__inner {
		display: block;
	}
	.aware__about {
		max-width: 100%;
		width: 100%;
		text-align: center;
		margin-bottom: 24px;
	}
	.aware__about-text {
		max-width: 100%;
	}
	.aside--right {
		margin: 0;
	}
	.aside--left {
		max-width: 100%;
		width: 100%;
		text-align: center;
	}
	.footer__contact-time {
		margin: 0px 0px 16px 0px;
	}
	.aware__post {
		text-align: center;
	}
	.aware__form {
		display: block;
	}
	.footer .aware__form-input {
		width: 100%;
		margin: 0 0 16px;
	}
	.aware__form-btn {
		width: 100%;
	}
	.footer__inn {
		flex-direction: column-reverse;
	}
	.footer__nav {
		margin: 0 0 24px;
		width: 100%;
		display: block;
	}
	.footer__nav-item {
		max-width: 100%;
		padding: 0;
		width: 100%;
	}
	.footer__nav-item.active .footer__nav-pointer {
		transform: rotate(-180deg);
		background-position: 0% 50%;
	}
	.footer__nav-item:not(:last-child) {
		margin-bottom: 16px;
	}
	.footer__contact-get {
		margin: 0px 0px 16px 0px;
	}
	.footer__contact-link {
		font-size: 16px;
	}
	.footer__contact-btns {
		max-width: 100%;
		width: 100%;
		flex-direction: row;
		gap: 16px;
	}
	.footer__contact-btn {
		width: 50%;
		padding: 13px 10px;
	}
	.footer__reach-inner {
		display: block;
	}
	.footer__pay {
		display: none;
	}
	.footer__soc {
		margin: 0 auto;
	}
	.footer__yandex {
		margin-bottom: 16px;
	}
	.footer__yandex iframe {
		width: 150px;
	}
	.footer__soc-item + .footer__soc-item {
		margin-left: 12px;
	}
	.footer__copyright {
		margin-bottom: 16px;
	}
	.footer__copyright p {
		max-width: 100%;
	}
	.footer__bottom-inner {
		display: block;
		text-align: center;
	}
	.footer__link {
		color: #9F9F9F !important;
		display: block;
	}
	.footer__nav-tlt {
		display: inline-block;
		width: initial;
		color: #0C0B0B !important;
	}
	.footer__ul {
		display: none;
	}
	.footer__nav-drop {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.footer__nav-pointer {
		flex-grow: 1;
		align-self: stretch;
		cursor: pointer;
		display: block;
		background-image: url(../images/icons/dropdown-black.svg);
		background-repeat: no-repeat;
		background-position: 100% 50%;
		background-size: 16px;
	}
	.widget__wrbox {
		display: none !important;
	}
	.widget__point {
	    background-color: #FFFFFF !important;
	    border-bottom: 1px solid #EFEFEF !important;
	}
	.widget__point path {
	    fill: #731B55 !important;
	}
}

@media screen and (max-width:576px){
	.header-customers {
		display: none;
	}
	.header-caller {
		margin: 0 0 0 12px;
		flex-grow: initial;
	}
	.boxpanel__link {
		padding: 0px;
	}
	.boxpanel__link + .boxpanel__link {
		margin-left: 2px;
	}

	.filter__actions {
		display: block;
		text-align: center;
	}
	.filter__btn {
		width: 100%;
		margin: 0 0 16px;
	}

	.slider {
		display: flex;
		max-height: initial;
		margin-bottom: 48px;
		overflow: initial;
	}
	.slider .slick-list,
	.slider__item {
		overflow: initial;
	}
	.slider__image {
		margin-bottom: 24px;
	}
	.slider__img {
		height: 360px;
	}
	.slider__text {
		position: static;
		max-width: 100%;
		text-align: center;
	}
	.slider__title {
		font-size: 20px;
		margin-bottom: 8px;
		color: #0C0B0B;
	}
	.slider__info, 
	.slider__info p {
		font-size: 14px;
		color: #0C0B0B;
		margin-bottom: 0px;
	}
	.slider__arrows {
		height: 360px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: -22px;
		right: -22px;
		display: flex;
		justify-content: space-between;
		z-index: -1;
	}
	.slider__arrow {
		width: 22px;
		height: 100%;
		box-shadow: none;
		margin: 0;
		border-radius: 0;
	}
	.slider__arrow svg {
		width: 8px;
	}
	.week__title {
		font-size: 20px;
		text-align: center;
		margin-bottom: 16px;
	}
	.week-timer {
		justify-content: center;
	}
	.timer {
		margin: 0px 0px 25px 0px;
	}
	.product__title {
		height: initial;
		max-height: initial;
	}
	.product__title-link {
		color: #0C0B0B !important;
	}
	.product-week {
		border-left: none;
		border-right: none;
		padding: 22px 0;
	}
	.week__slider {
		max-height: initial;
		overflow: initial;
	}
	.navigate {
		display: none;
	}
	.pros__icon {
		margin: 0px 0px 40px 0px;
	}
	.pros__title {
		font-size: 14px;
		margin: 0px 0px 8px 0px;
	}

	/* slick-arrow START */
	.slick-arrow {
		width: 22px;
		height: 100%;
		box-shadow: none;
		margin: 0;
		border-radius: 0;
		background-image: url(../images/icons/slider-arrow-bg.svg);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 16px;
		overflow: hidden;
		text-indent: 1000px;
		cursor: pointer;
		padding: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 2;
	}
	.slick-prev {
		left: -22px;
		transform: rotate(-180deg);
	}
	.slick-next {
		left: auto;
		right: -22px;
	}
	/* slick-arrow END */

	.face .slick-slider {
		margin: 0 0 16px;
	}
	.pros__item {
		margin: 0;
	}

	/* Catalog-list START */
	.makers__body {
		display: block;
	}
	.makers__text {
		margin: 0px 0px 50px 0px !important;
	}
	.makers__item {
		padding: 24px 0;
		border-left: none;
		border-right: none;
	}
	.certificates--prev,
	.certificates--next {
		display: none;
	}
	.certificates__body {
		overflow: initial;
		max-height: 308px;
		overflow: hidden;
	}
	/* Catalog-list END */
	.reviews__writem {
		padding: 0;
	}
	.reviews__body {
		overflow: initial;
	}
	.reviews-arrow--left,
	.reviews-arrow--right {
		display: none;
	}
	.nav-panel__item {
		width: 100%;
		text-align: center;
	}
	.offers-extand-more {
		display: none;
	}

	.news-box {
		display: flex;
	}
	.news-box__item:nth-child(3),
	.news-box__item:nth-child(4) {
		display: block;
	}
	.news-box__item {
		border: none;
		border-top: 1px solid #EFEFEF;
		border-bottom: 1px solid #EFEFEF;
		padding: 0;
		display: flex !important;
		flex-direction: column;
	}
	.main {
		padding: 24px 0;
	}
	.face .slick-slider {
		margin: 0 0 48px;
	}
	.distance-tune {
		padding: 24px 0;
	}
	.title {
		font-size: 20px;
		margin: 0px 0px 24px 0px;
		text-align: center;
	}
	.reviews__head {
		text-align: center;
	}
	.reviews__head {
		margin: 0px 0px 24px 0px;
	}
	.reviews__item {
		padding: 24px 0;
		border-left: none;
		border-right: none;
	}
	.nav-panel__item {
		padding: 13px 24px;
	}
	.tab-panel__btn {
		margin-bottom: 16px;
	}
	.product {
		border-left: none;
		border-right: none;
		padding: 22px 0;
	}
	.cat-list__body {
		margin-bottom: 0;
	}
	.certificate__item {
		padding: 0;
		border: none;
	}
	.news-box-arrow--left,
	.news-box-arrow--right {
		display: none;
	}
	.news-box__image {
		padding-top: 55.78%;
	}
	.news-box__text {
		padding: 24px 0;
	}
	.watched__nav {
		display: none;
	}
}

@media screen and (max-width:380px){
	.boxpanel__name {
		font-size: 10px;
		line-height: 10px;
	}
	.slider__arrows {
		height: 240px;
	}
	.slider__img {
		height: 240px;
	}
	.slider__image {
		margin-bottom: 16px;
	}
	.slider__title {
		font-size: 18px;
	}
	.week__title {
		margin-bottom: 8px;
	}
	.boxpanel__link:first-child .boxpanel__name {
		width: 31px;
		overflow: hidden;
		white-space: nowrap;
	}
	.main {
		padding: 16px 0;
	}
	.product {
		margin: 0;
	}
	.reviews__body {
		margin: 0px 0px 16px;
	}
	.pros__inner {
		margin: 0;
	}
	.certificates__body .slick-prev {
		left: -16px;
	}
	.certificates__body .slick-next {
		right: -16px;
	}
	.news-box__image {
		padding-top: 80.44%;
	}
}

@media screen and (max-width:358px){
	.header-city__current {
		font-size: 12px;
	}
	.dropdown__current-link {
		font-size: 12px;
	}
	.header-caller {
		margin: 0 0 0 15px;
	}
}
