@media screen and (max-width:1500px){
	.cat-list__body {
		grid-template-columns: repeat(4, 1fr);
	}
	.p-product__cont {
	    width: 66.019%;
	}
	.p-product__sidebar {
	    width: 32.116%;
	}
	.b-product__amt {
	    margin: 0 10px 0 20px;
	}
	.b-product__tlt {
	    max-width: 304px;
	}
	.vision-gall__image {
	    width: 280px;
	    min-width: 280px;
	}
	.vision-gall__manage {
	    width: 280px;
	    min-width: 280px;
	} 
}

@media screen and (max-width:1420px){
	.search__plug {
		display: none;
	}
	.vision--price .product__title {
	    width: 282px;
	}
	.vision--price .product__prices {
	    margin-left: 0;
	}
	.vision--price .product__front {
	    width: auto;
	}
	.vision--price .product__drop {
	    width: 40.125%;
	}
	.ordering .tab-panel__wrapper {
	    max-width: 700px;
	}
}

@media screen and (max-width:1400px){
	.filter__form {
		width: 100%;
	}
	.filter__aside {
		display: none;
	}
	.news-box__text {
		padding: 24px;
	}
	/* Header top */
	.header__panel-btn {
		padding: 17px 31px;
	}
	.header__panel {
		justify-content: flex-start;
		margin: 0 20px 0 67px;
	}
	.search {
		max-width: 297px;
	}
	.certificate__item {
		padding: 20px;
	}


	/* Catalog-list START */
	.makers__body {
		grid-template-columns: repeat(4, 1fr);
	}
	.makers__item:nth-child(1) {
		grid-column: span 2;
		grid-row:2;
	}
	.makers__item:nth-child(2) {
		grid-column: span 2;
		grid-row:2;
	}
	.makers__item:nth-child(1) .makers__text,
	.makers__item:nth-child(2) .makers__text {
		margin: 0px 0px 46px 0px;
	}
	/* Catalog-list END */

	/* Footer */
	.footer .aware__label {
		width: 100%;
	}

	.wholesale__image {
		width: 61.82%;
	}

	.wholesale__form {
		width: 36.004%;
	}

	body.main-menu-drop .header-menu {
	    padding: 25px 0;
	}

	.makers__body--large .makers__item:nth-child(1) {
	    grid-column: initial;
	    grid-row: initial;
	}

	.makers__body--large .makers__item:nth-child(2) {
	    grid-column: initial;
	    grid-row: initial;
	}

	.makers__body--large .makers__item:last-child {
	    grid-column: span 2;
	}



	.makers__body--small {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin: -12px;
		grid-gap: initial;
	}

	.makers__body--small .makers__item {
		width: calc(33.333% - 24px);
		margin: 12px;
	}

	.makers__body--small .makers__item:nth-child(1) {
		width: calc(50% - 24px);
		margin: 12px;
	}

	.makers__body--small .makers__item:nth-child(2) {
		width: calc(50% - 24px);
		margin: 12px;
	}
	
}

@media screen and (max-width:1300px){
	.pros__inner {
		margin: 0 -8px;
	}
	.pros__item {
		width: calc(25% - 16px) !important;
		margin: 0 8px;
		padding: 26px;
	}
	.pros__icon {
		margin: 0px 0px 40px 0px;
	}
	.pros__title {
		font-size: 14px;
	}
	.pros__subtitle {
		font-size: 13px;
	}
	body.main-menu-drop .scroll__list li a,
	.aside-menu__link {
	    font-size: 15px;
	    white-space: initial;
	}
}

@media screen and (max-width:1250px){
	.header__panel-btn {
		padding: 15px 25px;
		margin: 0px 13px 0px 0px;
	}
	.search__main {
		display: none;
	}
	.search__submit {
		display: none;
	}
	.search--popup-city .search__submit {
		display: block;
	}
	.search__trigger {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.reviews__item {
		padding: 24px;
	}
	.reviews__writem {
		padding: 0 8px;
	}
	.reviews__body {
		margin: 0px -8px 16px;
	}

	.header-main__inner--active .search__main {
		display: block;
	}
	.header-main__inner--active .search__submit {
		display: block;
	}
	.header-main__inner--active .search__trigger {
		display: none;
	}
	.header-main__inner--active .boxpanel__link {
		padding: 0 5px;
	}
	.search .search__main {
		padding: 13.5px 16px;
	}

	.p-product__cont {
	    padding: 20px;
	}
	.p-sidebar__front {
	    padding: 20px;
	}
	.p-product__sidebar {
		padding: 20px;
	}
	.panel-nav {
	    padding: 17px 17px 17px 23px;
	}

	.basket__wr-title {
	    margin: 0px 0px 32px 0px;
	}

	.basket__body {
		display: block;
	}

	.basket__main {
		width: 100%;
		margin-bottom: 32px;
	}

	.basket__aside {
		width: 100%;
	}

	.aside-common__inner {
		padding: 0;
		border: none	;
	}
	.b-product__info {
	    column-gap: 14px;
	}
	.b-product__jump {
	    column-gap: 14px;
	}

	.ordering__body {
		display: block;
	}

	.ordering__main {
		width: 100%;
	    border: none;
    	padding: 0;
		margin-bottom: 32px;
	}

	.ordering__form {
	    max-width: 100%;
	}

	.ordering .tab-panel__wrapper {
	    max-width: 100%;
	}

	.ordering__aside {
		width: 100%;
	}

	.order__body {
		flex-wrap: wrap;
	}

	.order__main {
	    width: 100%;
	    margin-bottom: 32px;
	}

	.order__aside {
	    width: 100%;
	}

}

@media screen and (max-width:1200px){
	.vision--price .product__title {
	    width: 650px;
	}
	.vision--price .product__prices {
	    margin-left: auto;
	    margin-right: 0;
	}
	.vision--price .product__prices-show {
	    white-space: nowrap;
	}
	.vision--price .product__front {
	    width: 100%;
	    padding-right: 0;
	    margin-bottom: 15px;
	}
	.vision--price .product__drop {
	    width: 100%;
	}
}

@media screen and (max-width:1150px){
	.container {
		max-width: 1548px;
		padding: 0 24px;
	}
	.face {
		margin: 0px 0px 32px 0px;
	}
	html {
		font-size: 8px;
	}
	/*.main__distance {
		padding: 32px 0;
	}*/
	.title {
		font-size: 28px;
		margin: 0px 0px 32px 0px;
	}
	.cat-list__form {
		margin: -12px -6px 32px;
	}
	.reviews__head {
		margin: 0px 0px 32px 0px;
	}
	.nav-panel__item {
		padding: 15px 24px;
	}


	.header-caller {
		margin: 0 43px;
	}
	.header-city__name {
		display: none;
	}
	.header__panel {
		margin: 0 20px 0 33px;
	}
	.boxpanel__link {
		padding: 0 12px;
	}
	.nav-menu ul li {
		margin-right: 16px;
	}
	.header-main {
		padding: 14px 0 19px;
	}
	.header-menu {
		padding-bottom: 16px;
	}

	/* Main screen */
	.week {
		width: 226px;
		margin-left: 16px;
	}
	.slider__text {
		left: 24px;
		bottom: 24px;
	}
	.slider {
		max-height: 528px;
	}
	.slider__img {
		height: 528px;
	}
	.slider__title {
		font-size: 28px;
	}
	.slider__info, 
	.slider__info p {
		font-size: 14px;
	}
	.slider__arrow {
		width: 32px;
		height: 32px;
	}
	.slider__arrow svg {
		width: 7px;
	}
	.week__title {
		font-size: 20px; 
		margin-bottom: 13px;
	}
	.timer {
		margin: 0px 0px 17px 0px;
	}
	.product__image {
	    min-height: initial;
	}
	.week__slider {
		max-height: 411px;
		margin-bottom: 16px;
	}
	.navigate__arrow {
		width: 32px;
		height: 32px;
		background-size: 9px;
	}
	.navigate__item:nth-child(1) .navigate__text {
		display: none;
	}

	.filter__form {
		padding: 24px;
	}
	.filter-type {
		margin: -6px -6px 18px -6px;
	}
	.filter-wide {
		grid-gap: 24px;
		margin-bottom: 24px;
	}

	/* Catalog-list START */
	.makers__body {
		grid-gap: 16px;
	}
	.makers__text {
		font-size: 12px;
	}
	/* Catalog-list END */

	.cat-list__body {
		gap: 16px;
		margin-bottom: 16px;
	}
	.tab-panel__item {
		padding: 14px 17px;
	}
	.offers__nav {
		margin: 0px 0px 32px 0px;
	}

	.certificate__writem {
		padding: 0 8px;
	}
	.certificates__body {
		margin: 0 -8px 16px;
	}
	.certificate__item::after {
		width: 32px;
		height: 32px;
	}

	.news__tab-panel {
		margin: 0px 0px 32px 0px;
	}
	.news-box {}
	.news-box__image {
		padding-top: 80.08%;
	}
	.news-box__date {
		margin-bottom: 16px;
	}
	.news-box__tlt {
		margin: 0px 0px 16px 0px;
	}
	.xpanel {
		margin: 0px 0px 20px 0px; 
	}


	/* Footer */
	.footer__soc {
		margin-right: 44px;
	}
	.footer__pay-img + .footer__pay-img {
		margin-left: 24px;
	}
	.aware__form-tlt {
		font-size: 18px;
	}
	.aware {
		padding: 40px 0;
	}
	.aware__about-text {
		max-width: 304px;
	}
	.footer__inner {
		padding: 40px 0;
	}
	.footer__contact-get {
		margin: 0px 0px 24px 0px;
	}
	.footer__contact-link {
		font-size: 18px;
	}
	.footer__nav-drop {
		margin: 0px 0px 16px 0px;
	}
	.footer__nav-tlt {
		font-size: 18px;
	}
	.footer__contact-btns {
		gap: 16px;
	}
	.footer__copyright p {
		max-width: 242px;
	}
	.footer__bottom {
		padding: 24px 0;
	}
	.footer__reach {
		padding: 24px 0;
	}
	.footer__soc-item {
		width: 32px;
		height: 32px;
	}
	.btn {
		padding: 15px 25px;
	}
	.footer__pay-img:nth-child(1) {
		width: 62px;
		height: 20px;
	}
	.footer__pay-img:nth-child(2) {
		width: 30px;
		height: 20px;
	}
	.footer__pay-img:nth-child(3) {
		width: 78px;
		height: 20px;
	}
	.news__tab-body {
		margin: 0px -12px 16px;
	}
	.watched__body {
		margin: 0 -8px 16px;
	}
	.watched-offers {
		margin: 0 8px;
	}

	.wholesale__image {
		width: 50%;
	}
	.wholesale__form {
		width: 50%;
	}

	.tabs-menu__inner {
	    flex-wrap: wrap;
	}
	.tabs-menu__item {
	    flex: 0 1 48%;
	}

	.vision--gall .product.vision-gall {
		display: none;
	}

	.vision-panel__view[data-vision="vision--gall"] {
		display: none;
	}

	.edge__text {
	    font-size: 10px;
	    max-width: 85px;
	    margin: 0 auto;
	}

	.edge__item {
	    padding: 11px 15px;
	}
}

@media screen and (min-width:993px) and (max-width:1100px){
	.header__logo-img {
		min-width: 234px;
	}
}

@media screen and (max-width:992px){
	.header-caller__text {
		display: none;
	} 

	.header__logo {
		width: 44px;
		min-width: 44px;
		overflow: hidden;
	}
	.header__logo-img {
		min-width: 226px;
		height: 44px;
		margin-left: -8px;
	}
	.header__logo-short {
	    width: 44px;
	    min-width: 44px;
	    height: 44px;
	}
	.header__panel {
		margin: 0 20px 0 36px;
	}
	.boxpanel__link {
		margin-top: 2px;
		padding: 0 10px;
	}
	.boxpanel__icon {
		margin-bottom: 0;
	}
	.boxpanel__name {
		display: none;
	}
	.search__trigger {
		display: none;
	}
	.search__submit {
		display: block;
	}
	.search .search__main {
		display: block;
	}
	.search {
		max-width: 233px;
	}

	.filter__line-tlt {
		font-size: 14px;
		margin: 0px 0px 16px 0px;
	}
	.filter__item {
		margin: 4px;
	}
	.filter-type {
		margin: -4px -4px 18px -4px;
	}
	.filter__scroll {
		max-height: 155px;
	}

	/* Main screen */
	.face__inner {
		display: block;
	}
	.slider {
		max-height: 460px;
		margin-bottom: 32px;
	}
	.slider__img {
		height: 460px;
	} 
	.slider__title {
		font-size: 24px;
	}
	.week {
		width: 100%;
		margin-left: 0;
	}
	.week__title {
		font-size: 22px;
		margin-bottom: 16px;
	}
	.timer {
		margin: 0px 0px 27px 0px;
	}
	.navigate__item:nth-child(1) .navigate__text {
		display: block;
	}
	.navigate__arrow {
		width: 40px;
		height: 40px;
	}

	/* Product */
	.cat-list__body {
		grid-template-columns: repeat(3, 1fr);
	}

	/* Catalog-list START */
	.makers__body {
		grid-template-columns: repeat(2, 1fr);
	}
	.makers__item:nth-child(1) {
		grid-column: 1;
		grid-row:1;
	}
	.makers__item:nth-child(2) {
		grid-column: 1;
		grid-row:1;
	}
	.makers__text {
		margin: 0px 0px 34px 0px;
	}
	.makers__item:nth-child(1) .makers__text, 
	.makers__item:nth-child(2) .makers__text {
		margin: 0px 0px 34px 0px;
	}
	.makers__text {
		font-size: 13px;
	}
	/* Catalog-list END */

	.pros__inner {
		margin: -8px;
		flex-wrap: wrap;
	}
	.pros__item {
		width: calc(50% - 16px) !important;
		margin: 8px;
	    transform: none !important;
	}
	.pros__icon {
		margin: 0px 0px 56px 0px;
	}
	.pros__title {
		font-size: 15px;
	}

	.certificate__item {
		padding: 17px;
	}
	.news__tab-panel {
		margin: 0px 0px 16px 0px;
	}
	.news-box {
	}
	.news-box__item:nth-child(4) {
		display: none;
	}
	.title {
		font-size: 22px;
		margin: 0px 0px 26px 0px;
	}
	.cat-list__form {
		margin: -12px -6px 26px;
	}
	.extand-more {
		padding: 12px;
	}
	html {
		font-size: 6.5px;
	}
	.main__distance {
		/*padding: 26px 0;*/
	}
	.reviews__title {
		margin: 0px 0px 16px 0px;
	}
	.reviews__subtitle {
		margin: 0px 0px 16px 0px;
	}
	.reviews__head {
		margin: 0px 0px 26px 0px;
	}
	.offers__nav {
		margin: 0px 0px 16px 0px;
	}
	.news-box__image {
		padding-top: 77.29%;
	}


	/* Footer */
	.aware__politic {
		font-size: 13px;
	}
	.btn {
		padding: 13px 25px;
	}
	.btn-white {
	    padding: 12px 25px;
	}
	.amt-box__btn {
	    height: 38px;
	}
	.footer .aware__form-input {
		padding: 11.5px 24px; 
	}
	.aware__form-tlt {
		font-size: 16px;
	}
	.aware {
		padding: 32px 0;
	}
	.aware__img {
		width: 202px;
	}
	.aware__image {
		margin: 0px 0px 16px 0px;
	}
	.aware__about-text {
		font-size: 13px;
	}
	.footer__inner {
		padding: 32px 0;
	}
	.footer__contact-time {
		font-size: 13px;
		margin: 0px 0px 20px 0px;
	}
	.footer__contact-link {
		font-size: 18px;
	}
	.footer__contact-txt {
		font-size: 13px;
	}
	.footer__contact-get {
		margin: 0px 0px 20px 0px;
	}
	.footer__contact-btns {
		max-width: 156px;
		flex-direction: column;
		gap: 8px;
	}
	.footer__nav-tlt {
		font-size: 16px;
	}
	.footer__li:not(:last-child) {
		margin: 0px 0px 11px 0px;
	}
	.footer__soc {
		margin-right: auto;
	}
	.footer__links {
		font-size: 13px;
	}
	.footer__copyright p {
		max-width: 225px;
		font-size: 13px;
	}
	.footer__nav {
		margin: 0 -8px 0 12px;
	}
	.footer__nav-item {
		max-width: 150px;
		padding: 0 8px;
	}
	.aside--left {
		max-width: 228px;
	}
	.main {
		padding: 16px 0;
	}

	.focus-menu__labels {
		display: none;
	}
	.tabs-menu__item {
	    flex: 1 1 100%;
	}
	body.main-menu-drop .wide-menu__aside {
	    width: 100%;

	    position: absolute;
	    top: 0;
	    left: -100%;
	    left: 0;
	    background-color: #fff;
	    z-index: 100;
	    padding: 0 24px 24px;
	    transition: .2s all;
	}
	.wide-menu__fucus {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    padding: 0 24px 24px;
	    background-color: #fff;
	    transform: translateX(0%);
	    z-index: 99;
	    transform: .2s all;
	}
	body.main-menu-drop .scroll__list li a, 
	.aside-menu__link {
	    font-size: 16px;
	    line-height: 16px;
	}
	.tabs-menu__title {
	    font-size: 24px;
	    margin-bottom: 24px;
	}
	.wide-menu__tabs {
	    margin-bottom: 24px;
	}


	/* Product */
	.p-product__wrapper {
		flex-wrap: wrap;
		gap: 48px;
	}
	.p-product__cont {
		width: 100%;
		border: none;
		padding: 0;
	}
	.p-product__sidebar {
		width: 100%;
		border: none;
		padding: 0;
	}
	.p-sidebar__front {
		border: none;
		padding: 10px 0 0 0;
	}
	.sec-reviews {
		order: 2;
	}
	.common-rate {
		order: 1;
	}
	.p-slider__max-item {
	    padding-top: 55%;
	}
	.p-product__panel {
	    margin-bottom: 32px;
	}
	.p-sidebar__back {
	    padding: 10px 0 0 0;
	}


	.p-product__wrapper {
		text-align: center;
	    margin-bottom: 48px;
	}
	.p-product--extand {
	    gap: 22px;
	}

	.description__watch {
	    margin: 0px 0px 48px 0px;
	}
	.description__field-top {
	    margin: 0px 0px 48px 0px;
	}
	.title-min {
	    margin: 0px 0px 32px 0px;
	}
	.features-list__line {
	    margin-bottom: 16px;
	}
	.features-list {
	    margin-bottom: 24px;
	}
	.sidebar-get__profile {
	    text-align: left;
	    margin: 0px 0px 24px 0px;
	}
	.sidebar-get figure {
	    margin: 0px 0px 24px 0px;
	}
	.common-rate__tlt {
	    margin: 0px 0px 24px 0px;
	}
	.common-rate__info {
	    margin: 0px 0px 24px 0px;
	}
	.common-rate__button {
	    margin: 0px 0px 25px 0px;
	}
	.common-rate__line {
	    margin: 0px 0px 13px 0px;
	}
	.sec-reviews__title {
		margin: 0px 0px 16px 0px;
	}
	.sec-reviews__nav {
		justify-content: center;
	    margin: 0px 0px 24px 0px;
	}
	.p-product__wrapper:last-of-type {
		margin-bottom: 28px;
	}
	.p-sidebar__line {
	    justify-content: center;
	}
	.description__video-play {
	    width: 40px;
	    height: 40px;
	}
	.description__video-play svg {
	    width: 8px;
	    height: 10px;
	}
	.sec-reviews__item {
	    text-align: left;
	}

	.queries__inner {
		border-left: none;
		border-right: none;
		padding: 24px 0;
	}

	.queries__line {
	    display: block;
	}

	.queries__name {
	    margin: 0px 0px 12px 0px;
	}

	.queries__event-item + .queries__event-item {
	    margin-left: 24px;
	}

	.queries__button {
	    padding: 12px 0 12px 12px;
	    margin: -12px 0 -12px;
	}

	.cat-panel__inner {
	    border: none;
	    padding: 0;
	    display: block;
	    text-align: center;
	}

	.cat-panel__sort {
	    margin-bottom: 24px;
	}

	.cat-panel__dropdown {
		display: inline-flex;
	    justify-content: center;
	}

	.vision-panel {
		justify-content: center;
	}

	.vision-panel__view--gall {
		display: none;
	}

	.vision-panel__view  {
		margin: 0;
	}

	.vision-panel__view + .vision-panel__view  {
		margin-left: 16px;
	}
	.dropdown-panel {
		overflow: hidden;
	}

	.dropdown-panel--active {
		overflow: initial;
	}

	.dropdown-panel__name {
		display: block;
	}

	.dropdown-panel__name::after {
	    content: '';
	    display: inline-block;
	    vertical-align: middle;
	    width: 12px;
	    height: 12px;
	    position: absolute;
	    top: 1px;
	    left: auto;
	    right: 0;
	    z-index: 2;
	    background-image: url(../images/icons/dropdown-wide.svg);
	    background-position: 50% 50%;
	    background-repeat: no-repeat;
	    background-size: 12px;
	}

	.dropdown-panel--active .dropdown-panel__name:after {
	    transform: rotate(-180deg) translateY(1px);
	}

	.dropdown-panel__ul {
	    width: 150px;
	    min-width: 150px;
	    position: absolute;
	    right: 0;
	    left: auto;
	    z-index: 99;
	    top: 180%;
	    padding: 16px 0;
	    background: #fff;
	    box-shadow: 0px 8px 16px rgb(0 0 0 / 12%);
	    border-radius: 8px;
	    margin-top: 16px;
	    text-align: right;
	    transition: .2s all;
	    display: block;
	    opacity: 0;
	}

	.dropdown-panel--active .dropdown-panel__ul {
		top: 100%;
		opacity: 1;
	}

	.dropdown-panel__li {
		display: block;
	    line-height: 24px;
	    color: #333333;
	    margin: 0;
	    padding: 4px 10px;
	    transition: .2s all;
	    cursor: pointer;
    }

    .catalog__filter {
	    margin-bottom: 24px;
    }

    .catalog__filter-form {
    	display: none;
    }

    .catalog__btn-filter {
    	display: flex;
    	justify-content: center;
    	align-items: center;
	    font-weight: 500;
	    font-size: 14px;
	    line-height: 14px;
	    letter-spacing: -0.02em;
	    color: #731B55;
	    border: 1px solid #EFEFEF;
	    border-radius: 4px;
	    text-align: center;
	    width: 100%;
	    padding: 12px 15px;
	    cursor: pointer;
    }
    .catalog__btn-filter::before {
    	content: '';
    	display: inline-block;
    	vertical-align: middle;
    	width: 18px;
    	height: 18px;
    	background-image: url(../images/icons/filter-icon.svg);
    	background-repeat: no-repeat;
    	background-position: 50% 50%;
    	background-size: contain;
    	margin-right: 8px;
    	transform: translateY(-2px);
    }

    .vision-panel__view[data-vision="view-gall"] {
    	display: none;
    }

    .catalog__box {
    	text-align: center;
    }

    .box-link {
	    justify-content: center;
	}

	.catalog__info {
		text-align: center;
	}

	.catalog__title-min {
		margin: 0px 0px 24px 0px;
	}

	.overflow-box__body {
		max-height: 255px;
	}
	.vision--price .drop-product__button {
		padding: 12px 15px;
	}
	.footer__link:hover {
	    transform: translateX(0px) !important;
	    padding-left: 0 !important;
	}
	.product__image .product__img {
	    transform: scale(1) !important;
	}

	.week__slider {
		max-height: initial;
	}

	.btn {
		color: #fff !important;
		background-color: #731B55 !important;
	}

	.btn-white {
	    color: #731B55 !important;
	    background-color: #fff !important;
	}

	.xtouch__item {
	    border: 1px solid #EFEFEF !important;
	}

	.aside-common__politic a {
	    border-bottom: 1px solid !important;
	}

	.aware__politic-link {
	    color: #9F9F9F !important;
	}

	.eventsline__item {
		color: #731B55 !important;
	}

	.common-rate__link {
	    border-bottom: 1px solid !important;
	}

	.common-rate__info a {
		border-bottom: 1px solid !important;
	}

	.features__inform {
	    border-bottom: 1px solid !important;
	}

	.p-sidebar__mistake a {
	    border-bottom: 1px solid !important;
	}

	.makers__body--small {
	}

	.makers__body--small .makers__item {
		width: calc(50% - 24px);
		margin: 12px;
	}



}

@media screen and (min-width:993px){
	.pros__item:hover {
	    transform: translateY(-15px) !important;
	    transition: .2s all ease 0s !important;
	}
}

@media screen and (max-width:960px){
	/*.buttonMenu{
		display:block;
	}
	.show_menu header nav .menu-container {
		left: 0;
	}
	.nav-menu__email{
		display:none;
	}
	.menu-container {
		position: fixed;
		top: 0;
		width: 100%;
		height: 100vh;
		left: -100%;
		bottom: 0;
		z-index: 99;
		background: rgba(0, 0, 0, 0.33);
		transition: .3s all;
	}
	.menu-container__close, 
	.menu-container__close:before {
		width: 55px;
		height: 55px;
		background: #121212;
		content: "";
		display: block;
		right: 0;
		top: 0;
		position: absolute;
		z-index: 1;
	}
	.menu-container__close:before {
		width: 24px;
		height: 22px;
		background: url(../images/icons/close.svg) no-repeat 50% 50%;
		background-size: contain;
		margin: 16px;
		z-index: 2;
	}
	.menu-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		right: 55px;
		bottom: 0;
		background: #fff;
		overflow: auto;
		/*padding: 15px 15px 205px;*/
	/*}
	.nav-menu ul, 
	.nav-menu ul li {
		width:100%;
		margin:0;
	}
	.nav-menu ul li a {
		border-bottom:1px solid #dbe0e2;
		padding-left:0;
		padding-right:0;
		position: relative;
	}
	.nav-menu ul li a:hover {
		background:none;
	}
	body.show_menu {
		overflow: hidden;
	}
	.nav-menu__footer {
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		background:#fff;
		padding:15px 15px 0;
		display:block;
	}
	.nav-menu__phone {
		font-size:20px;
	}
	.nav-menu__email {
		margin: 10px 0 20px;
		text-transform:none;
	}
	.nav-menu__btn {
		padding:5px 15px;
	}
	.nav-menu__bottomline {
		background:#eee;
		color:#767676;
		margin-left:-15px;
		margin-right:-15px;
		margin-top:20px;
		padding:8px 15px;
		font-size:12px;
	}

	.menu-wrapper__inner {
		position: relative;
		padding: 15px 15px 205px;
		min-height: 100vh;
		box-sizing: border-box;
	}

	.menu-wrapper ul li.menu-item-has-children ul{
		position: static;
		margin-top: 0;
		opacity: 1;
		background: #fff;
		padding: 0;
		border-radius: 0;
		min-width: auto;
	}
	.menu-wrapper ul li.menu-item-has-children > a:after {
		content: "";
		display: block;
		width: 9px;
		height: 10px;
		position: absolute;
		top: 50%;
		margin-top: -5px;
		right: 10px;
		background: url(../images/icons/right-arrow.svg) no-repeat 0 0;
		background-size: contain;
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
		transition: .3s all;
	}
	.menu-wrapper ul li.menu-item-has-children > a.rotate:after {
		content: "";
		-moz-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-webkit-transform: rotate(270deg);
		-o-transform: rotate(270deg);
		transform: rotate(270deg);
		transition: .3s all;
		margin-left: -3px;
		margin-top: -7px;
		transition: .3s all;
	}
	.menu-wrapper ul > li > ul {
		opacity: 1;
		box-shadow: none !important;
		display: none;
		transition: .3s all;
	}
	.menu-wrapper ul li ul.sub-menu li {
		overflow: initial;
	}
	.menu-wrapper ul li ul.sub-menu li a{
		padding: 15px 25px;
	}*/
}

@media screen and (max-width:850px) {
	
}

/* Потенциально 767px */
@media screen and (max-width:750px){
	.header__panel-btn {
		padding: 15px 21px;
	}
	.header__panel-txt {
		padding-left: 25px;
		width: 0;
		overflow: hidden;
		display: block;
		text-indent: 1000px;
		display: none;
	}
	.header__panel {
		margin: 0 20px;
	}
	.footer__pay-img + .footer__pay-img {
		margin-left: 10px;
	}
	.filter-wide {
		display: block;
	}
	.filter__line:not(:last-child) {
		margin-bottom: 24px;
	}
	.filter__scroll {
		max-height: 144px;
	}
	.filter-mobilebtn {
		display: block;
		padding: 12px 18px;
		border: 1px solid #EFEFEF;
		border-radius: 4px;
		cursor: pointer;
		width: 100%;
		margin-bottom: 24px;
		position: relative;
	}
	.filter-mobilebtn::after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 40px;
		height: 12px;
		background-image: url(../images/icons/dropdown-wide.svg);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 12px;
		position: absolute;
		top:50%;
		left: auto;
		right: 0;
		z-index: 2;
		transform: translateY(-50%);
	}
	.filter__form--active .filter-mobilebtn::after {
		transform: translateY(-50%) rotate(-180deg);
	}
	.filter-mobilebtn span {
		font-weight: 500;
		font-size: 14px;
		line-height: 14px;
		display: flex;
		align-items: flex-end;
		letter-spacing: -0.02em;
		color: #731B55;
	}
	.filter-type {
		margin: 0;
		display: block;
		position: absolute;
		top: 55px;
		left: 0;
		right: 0;
		z-index: 5;
		background-color: #fff;
		padding-bottom: 15px;
		display: none;
	}
	.filter__item {
		display: block;
		margin: 0 0 10px;
	}
	.filter__item:last-child {
		margin: 0;
	}
	.filter__item-txt {
		font-size: 13px;
		line-height: 13px;
		padding: 12px 18px;
	}
	.filter__form {
		padding: 0;
		border: none;
		position: relative;
	}
	.cat-list {
		display: none;
	}
	.cat-list__body {
		grid-template-columns: repeat(2, 1fr);
	}

	.news-box {
		grid-template-columns: repeat(2, 1fr);
	}
	.news-box__item:nth-child(3) {
		display: none;
	}

	.tab-panel__wrapper {
		margin: 0;
		display: block;
		position: absolute;
		top: 55px;
		left: 0;
		right: 0;
		z-index: 5;
		background-color: #fff;
		padding-bottom: 15px;
		display: none;
	}
	.tab-panel__btn {
		display: block;
	}
	.tab-panel__item {
		display: block;
		margin: 0 0 7px;
		width: 100%;
		text-align: left;
		padding: 10px 18px;
		font-size: 13px;
		line-height: 13px;
		color: #9F9F9F !important;
		background-color: #fff !important;
		border: 1px solid #EFEFEF !important;
	}
	.tab-panel__item + .tab-panel__item {
		margin-left: 0;
	}
	.tab-panel--active .tab-panel__btn span::after {
		transform: translateY(-50%) rotate(-180deg);
	}
	.edge__inner {
		overflow: initial; 
	}
	.edge__list {
		display: flex;
	}
	.edge__arrow {
		display: block !important;
	    width: 22px;
		background: none;
	}
	.edge__box-arrow {
		width: 100%;
		height: 100%;
		border: none;
	    transform: translateY(-50%) !important;

	    background-image: url(../images/icons/slider-arrow-bg.svg);
	    background-repeat: no-repeat;
	    background-position: 50% 50%;
	    background-size: 16px;
	}
	.edge__box-arrow svg {
		display: none;
	}
	.edge-arrow--left {
	    left: -22px;
	}
	.edge-arrow--right {
	    right: -22px;
	}

}

@media screen and (max-width:767px){
	.cat-list {
		display: none;
	}
	.header-main__inner {
		flex-direction: column;
		align-items: initial;
	}
	.header__logo {
		width: inherit;
		min-width: initial;
		overflow: inherit;
		align-self: center;
		margin-bottom: 16px;
	}
	.header__logo-img {
		min-width: 196px;
		height: 40px;
		margin-left: auto;
	}
	.header__logo-short {
	    width: 40px;
	    min-width: 40px;
	    height: 40px;
	    left: 20px;
	}
	.extra-burger {
		width: 66px;
		min-width: 66px;
		background-color: #FFFFFF;
		border: 1px solid #EFEFEF;
		border-radius: 4px;
		display: block;
		margin-left: 16px;
		align-self: stretch;
		cursor: pointer;
	}
	/*.extra-burger span {
		position: relative;
		z-index: 1;
	}
	.extra-burger span:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 18px;
		height: 18px;
		background-image: url(../images/icons/extra-burger.svg);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: contain;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 2;
		transform: translate(-50%, -50%);
	}*/

	.extra-burger__btn {
		width: 13px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		position: relative;
		margin: 0 auto;
	}

	.extra-burger__btn:after, 
	.extra-burger__btn:before, 
	.extra-burger__btn span {
	    content: "";
	    display: block;
		width: 100%;
	    height: 2px;
	    background-color: #731B55;
	    margin: 1.5px 0;
	    transition: .2s all;
	}

	body.main-menu-drop-2 .extra-burger__btn:before {
        transform: rotate(-45deg);
	    margin-top: 7px;
	}

	body.main-menu-drop-2 .extra-burger__btn span {
	    transform: rotate(45deg);
        margin-top: -3.5px;
	}

	body.main-menu-drop-2 .extra-burger__btn:after {
	    bottom: 0px;
	    opacity: 0;
	}



	.boxpanel--header {
		order: -1;
		margin-bottom: 12px;
	}
	.boxpanel__icon {
		margin-bottom: 10px;
	}
	.boxpanel__name {
		display: block;
		font-size: 11px;
		line-height: 11px;
	}
	.search--header {
		max-width: initial;
		flex-grow: 1;
	}
	.search .search__main {
		padding: 11.5px 16px;
	}
	.header__panel-btn {
		align-self: stretch;
		padding: 13px 26px;
		margin: 0px 16px 0px 0px;
	}
	.main-burger__btn {
	    margin: -1px auto 0;
	}
	.search__submit {
		width: 40px;
	}
	.header__panel {
		margin: 0;
	}
	.header-menu {
		padding-bottom: 16px;
	}
	.aware__inner {
		display: block;
	}
	.aware__about {
		max-width: 100%;
		width: 100%;
		text-align: center;
		margin-bottom: 24px;
	}
	.aware__about-text {
		max-width: 100%;
	}
	.aside--right {
		margin: 0;
	}
	.aside--left {
		max-width: 100%;
		width: 100%;
		text-align: center;
	}
	.footer__contact-time {
		margin: 0px 0px 16px 0px;
	}
	.aware__post {
		text-align: center;
	}
	.aware__form {
		display: block;
	}
	.footer .aware__label {
		width: 100%;
		margin: 0 0 16px;
	}
	.aware__form-btn {
		width: 100%;
	}
	.footer__inn {
		flex-direction: column-reverse;
	}
	.footer__nav {
		margin: 0 0 24px;
		width: 100%;
		display: block;
	}
	.footer__nav-item {
		max-width: 100%;
		padding: 0;
		width: 100%;
		/*position: absolute;
		top:0;
		left: 0;
		z-index: 1;*/
	}
	.footer__nav-item.active .footer__nav-pointer {
		transform: rotate(-180deg);
		background-position: 0% 50%;
	}
	.footer__nav-item:not(:last-child) {
		margin-bottom: 16px;
	}
	.footer__contact-get {
		margin: 0px 0px 16px 0px;
	}
	.footer__contact-link {
		font-size: 16px;
	}
	.footer__contact-btns {
		max-width: 100%;
		width: 100%;
		flex-direction: row;
		gap: 16px;
	}
	.footer__contact-btn {
		width: 50%;
		padding: 13px 10px;
	}
	.footer__reach-inner {
		display: block;
	}
	.footer__pay {
		display: none;
	}
	.footer__soc {
		margin: 0 auto;
	}
	.footer__yandex {
		margin-bottom: 16px;
	}
	.footer__yandex iframe {
		width: 150px;
	}
	.footer__soc-item + .footer__soc-item {
		margin-left: 12px;
	}
	.footer__copyright {
		margin-bottom: 16px;
	}
	.footer__copyright p {
		max-width: 100%;
	}
	.footer__bottom-inner {
		display: block;
		text-align: center;
	}
	.footer__link {
		color: #9F9F9F !important;
		display: block;
	}
	.footer__nav-tlt {
		display: inline-block;
		width: initial;
		color: #0C0B0B !important;
	}
	.footer__ul {
		display: none;
	}
	.footer__nav-drop {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.footer__nav-pointer {
		flex-grow: 1;
		align-self: stretch;
		cursor: pointer;
		display: block;
		background-image: url(../images/icons/dropdown-black.svg);
		background-repeat: no-repeat;
		background-position: 100% 50%;
		background-size: 16px;
	}
	.widget__wrbox {
		display: none !important;
	}
	.widget__point {
		background-color: #FFFFFF !important;
		border-bottom: 1px solid #EFEFEF !important;
	}
	.widget__point path {
		fill: #731B55 !important;
	}
	.pros__slider {
		overflow: hidden;
	}
	.pros__item {
	    width: 100% !important;
		margin: 0;
	}
	.pros__inner {
		margin: 0;
		flex-wrap: nowrap;
	}
	.pros__arrow {
		display: block;
	}
	
	/* slick-arrow START */
	.slick-arrow {
		width: 22px;
		height: 100%;
		box-shadow: none;
		margin: 0;
		border-radius: 0;
		background-image: url(../images/icons/slider-arrow-bg.svg);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 16px;
		overflow: hidden;
		text-indent: 1000px;
		cursor: pointer;
		padding: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 2;
	}
	.slick-prev {
		left: -22px;
		transform: rotate(-180deg);
	}
	.slick-next {
		left: auto;
		right: -22px;
	}

	.certificates__body .slick-prev, 
	.edge__list .slick-prev {
		left: -16px;
	}
	.certificates__body .slick-next, 
	.edge__list .slick-next {
		right: -16px;
	}

	/* slick-arrow END */




	.wholesale__body {
		display: block;
	}
	.wholesale__image {
		width: 100%;
		padding-top: 76.92%;
		margin-bottom: 32px;
	}
	.wholesale__inner {
		text-align: center;
	}
	.wholesale__subtitle {
		margin: 0px 0px 32px 0px;
	}
	.wholesale__form {
		width: 100%;
		border: none;
		padding: 0;
		text-align: center;
	}
	.droplist-form .droplist__focus {
	    padding: 11px 40px 11px 24px;
		margin: 0px 0px 16px 0px;
	}
	.form-common__input {
		margin: 0px 0px 16px 0px;
	}
	.form-common__btn {
		margin: 0px 0px 16px 0px;
	}
	.form-common__body {
		text-align: left;
	}

	input[type="text"], 
	input[type="number"], 
	input[type="tel"], 
	input[type="password"], 
	input[type="email"], 
	textarea {
			padding: 11.5px 24px;
	}
	.pros__tlt,
	.pros__subtlt {
		text-align: center;
	}

	.breadcrumbs {
		display: none;
	}

	body.page-ordering .breadcrumbs {
		display: block; 
		padding: 0 0 16px;
	}

	body.page-brand-catalog .makers__item {
		text-align: center;
	}

	body.page-brand-catalog .makers__item:first-child {
		border-top: none;
	}

	body.page-brand-catalog .makers__btn {
    	justify-content: center;
	}

	body.page-brand-catalog .back-makers__link {
		color: #9F9F9F !important;
	    transform: translateX(0px) !important;
	    padding-left: 0px !important;
	}

	main {
	    min-height: 378px;
	}
	.breadcrumbs--back {
	    padding: 0 0 32px;
	}
	.section-empty__inner {
		text-align: center;
	}
	.title {
	    margin: 0px 0px 16px 0px;
	    text-align: center;
	}
	.makers__title {
	}
	.section-empty__btns {
	    justify-content: center;
	}
	.section-empty {
	    padding: 40px 0;
	}
	.p-product__title {
		margin: 0px 0px 32px 0px !important;
	}

	.p-product__panel {
	    padding: 0;
	    border: none;
	    flex-direction: column-reverse;
	    gap: 18px;
	}

	.list-actions__item:nth-child(1) {
		width: 44px;
		overflow: hidden;
		white-space: nowrap;
	}

	.list-actions__item:nth-child(3),
	.list-actions__item:nth-child(4) {
		width: 16px;
		overflow: hidden;
		white-space: nowrap;
	}

	.p-slider__min {
		display: none !important;
	}

	.title-min {
	    margin: 0px 0px 24px 0px;
	}
	.features {
	    flex-wrap: wrap;
	    gap: 48px;
	}
	.features__list {
	    width: 100%;
	}
	.features__sert {
	    width: 100%;
	}
	.features__image {
	    width: 47%;
	    padding-top: 67%;
	    margin: 0 auto;
	}
	.features__image::after {
	    width: 40px;
	    height: 40px;
	    background-size: 16px;
	}
	.sidebar-get__profile {
	    justify-content: center;
    }

    .sec-reviews__item {
	    text-align: center;
	}
	.sec-reviews__stars {
		justify-content: center;
	}
	.description__video {
	    padding-top: 61%;
	}
	.breadcrumbs--mobile {
		display: block;
		padding: 0 0 16px;
	}
	.p-product__eventsline {
	    position: static;
    }
    .p-slider__max-item {
	    padding-top: 61.54%;
	}

	.sec-reviews__ul {
		display: none;
	}

	.selc-dropdown {
		display: block;
	    position: relative;
	    z-index: 2;
	    overflow: hidden;
	    list-style: none;
	}
	.selc-dropdown.selc-dropdown--active {
	    overflow: initial;
	}
	.selc-dropdown__name {
	    font-weight: 500;
		font-size: 14px;
		line-height: 14px;
		letter-spacing: -0.02em;
		color: #9F9F9F;
	    padding-right: 20px;
	    position: relative;
	    cursor: pointer;
	}
	.selc-dropdown__name:after {
        content: '';
	    display: inline-block;
	    vertical-align: middle;
	    width: 12px;
	    height: 12px;
	    position: absolute;
	    top: 1px;
	    left: auto;
	    right: 0;
	    z-index: 2;
	    background-image: url(../images/icons/dropdown-wide.svg);
	    background-position: 50% 50%;
	    background-repeat: no-repeat;
	    background-size: 12px;
	}
	.selc-dropdown.selc-dropdown--active .selc-dropdown__name:after {
	    transform: rotate(-180deg) translateY(1px);
	}
	.selc-dropdown__ul {
	    width: 150px;
	    min-width: 150px;
	    position: absolute;
	    right: 0;
	    left: auto;
	    top: 180%;
	    padding: 16px 0;
	    background: #fff;
	    box-shadow: 0px 8px 16px rgb(0 0 0 / 12%);
	    border-radius: 8px;
	    margin-top: 16px;
	    transition: .2s top;
	    text-align: right;
	    opacity: 0;
	    transition: .2s all;
	}
	.selc-dropdown.selc-dropdown--active .selc-dropdown__ul {
	    opacity: 1;
	    top: 100%;
	    margin-top: 10px;
	    border-radius: 8px;
	    overflow: hidden;
	    padding: 7px 0;
	}
	.selc-dropdown__li {
	    display: block;
	    line-height: 24px;
	    color: #333333;
	    padding: 4px 10px;
	    transition: .2s all;
	    cursor: pointer;
	}
	.aware__cover {
	    margin-bottom: 16px;
	}

	.basket__clear-basket {
		display: none;
	}

	.page-basket .breadcrumbs {
		display: block;
		padding-bottom: 16px;
	}

	.basket__title {
	    width: 100%;
	    text-align: center;
	}

	.b-product__video {
		display: none;
	}

	.b-product {
		display: grid;
	    grid-template-rows: 1fr 1fr;
    	grid-template-columns: 1fr 120px;
		padding: 15px 0;
		row-gap: 16px;
	}

	.b-product:first-child .b-product__info,
	.b-product:first-child .b-product__control {
		animation: basket-line-show 1.5s 3s;
		-webkit-animation: basket-line-show 1.5s 3s;
	}

	.b-product:first-child .b-product__mobile {
		animation: basket-line-show-2 1.5s 3s;
		-webkit-animation: basket-line-show-2 1.5s 3s;
	}

	.b-product__info {
		width: 100%;
		/*margin-bottom: 16px;*/

	    grid-column: 1 / 3;
    	grid-row: 1 / 2;
    	transition: .2s all;
	}

	.drug-focus[data-direction="left"] .b-product__info {
		transform: translateX(-128px);
	}

	.b-product__control {
	    justify-content: stretch;
	    margin: 0px;

	    grid-column: 1 / 3;
    	grid-row: 2 / 2;
    	transition: .2s all;
	}

	.drug-focus[data-direction="left"] .b-product__control {
		transform: translateX(-128px);
	}

	.b-product__mobile {
        display: grid;
	    grid-template-columns: auto;
	    grid-template-rows: 1fr 1fr;
	    align-self: stretch;
	    grid-column: 2 / 3;
	    grid-row: 1 / 3;
        row-gap: 16px;
	    margin-left: 24px;
	    transform: translateX(120px);
	    transition: .2s all;
	}

	.drug-focus[data-direction="left"] .b-product__mobile {
    	transform: translateX(0px);
	}

	.b-product__price {
		display: none;
	}

	.b-product__cross {
		display: none;
	}

	.b-product__amt {
		width: 100%;
		margin: 0;
	}

	.b-product__image {
	    width: 56px;
	    min-width: 56px;
	}

	.b-product__m-video {
		display: block;
	    width: 32px;
	    min-width: 32px;
	    height: 32px;
	    background-color: #fff;
	    border-radius: 50%;
	    background-image: url(../images/icons/play-purple.svg);
	    background-repeat: no-repeat;
	    background-position: 55% 51.5%;
	    background-size: 6px;
	    border-radius: 50%;
	    border: 1px solid #EFEFEF;
	}

	.b-product__clear {
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 400;
		font-size: 12px;
		line-height: 12px;
		letter-spacing: -0.02em;
		color: #9F9F9F;
		padding: 16px 16px;
		background: #FFFFFF;
		border: 1px solid #EFEFEF;
		border-radius: 4px;
	}

	.b-product__clear::after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 14px;
		height: 14px;
		background-image: url(../images/icons/cross.svg);
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: contain;
		margin-left: 4px;
	}

	.b-product__amt .amt-box__btn {
	    height: 46px;
	}

	.aside-common__title {
	    font-size: 20px;
	    margin: 0px 0px 16px 0px;
	}

	.aside-common__line:not(:last-child) {
	    margin: 0px 0px 16px 0px;
	}

	.aside-common__note {
	    margin: 0px 0px 16px 0px;
	}

	.aside-common__btn {
	    margin: 0px 0px 16px 0px;
	}

	.page-basket .main {
	    padding: 32px 0 22px;
	}

	.vision--price .product__front {
		justify-content: center;
	    flex-wrap: wrap;
	    text-align: center;
	}

	.vision--price .product__title {
	    width: 100%;
	    margin: 16px 0;
	}
	.vision--price .product__prices {
	    width: 100%;
	    text-align: center;
	}
	.vision--price .prices {
		justify-content: center;
	    margin: 0px 0px 8px 0px;
	}
	.vision--price .product__image {
	    margin: 0;
	}
	.vision--price .xpanel {
	    margin: 0 16px 0 0;
	}
	.vision--price .back-product__list {
		display: block;
	    margin: 0px;
	    max-height: 9999px;
	}
	.vision--price .back-product__line {
	    width: 100%;
	    margin: 0 0 8px;
	}
	.vision--price .back-product__line:last-child {
	    margin: 0;
	}
	.vision--price .product__inn--active .product__back {
	    height: initial;
	}
	.vision--price .back-line__head {
	    padding: 11px 16px;
	    display: flex;
	}
	.vision--price .back-line__price-final {
	    font-size: 14px;
	    line-height: 14px;
	}
	.vision--price .back-line__price-start {
	    font-size: 12px;
	    line-height: 12px;
	    margin-bottom: 0;
	}
	.vision--price .back-product__info {
	    margin: 0px 0px 16px 0px;
	}
	.product__title-link {
	    color: #0C0B0B !important;
	}
	.list-dropdown {
		display: none !important;
	}
	.vision--price .drop-product__button {
	    width: 48px;
	    min-width: 48px;
	    height: 40px;
	    text-indent: 1000px;
	    white-space: nowrap;
	    overflow: hidden;
	    padding: 0;
	    background-image: url(../images/icons/basket-black.svg);
	    background-repeat: no-repeat;
	    background-position: 50% 50%;
	    background-size: 16px;
	}
	.vision--price .amt-box {
	    margin: 0 8px 0 0;
	    width: 100%;
	}

	.header-customers {
		display: none;
	}
	.header-caller {
	    justify-content: flex-end;
	    flex-grow: initial;
	    margin: 0;
    }
    .header-caller .dropdown__list {
	    left: auto;
	    right: 0;
	}
	.header-caller  .dropdown__list::before {
	    left: auto;
	    right: 30px;
	}

	.main-menu-drop-2 .header-dopmenu {
	    display: block;
	    position: absolute;
	    top: 100%;
	    left: 0;
	    width: 100%;
	    z-index: 10;
	    background-color: #fff;
	    margin-top: -32px;
	}

	.product__drop {
		border: none;
	    position: static;
	    margin-top: 0;
	}

	.product__front,
	.product__back {
		padding-bottom: 0;
	}

	.drop-product__desc {
		display: none;
	}

	.drop-product__button {
		margin-bottom: 0;
	}

	.product__inn--active .product__drop {
	    display: block;
	}

	.product-week .product__inn .product__drop {
		display: block;
	}

	.product-week .drop-product__button {
	    /*padding: 16px 16px;*/
	    padding: 12px 16px;
	}

	.drop-product__button {
		padding: 12px 16px;
	}

	.cat-panel__dropdown {
		display: none;
	}
	.catalog__custom {
	    justify-content: center;
	}

	.form-popup__title {
	    font-size: 20px;
	    margin: 0px 0px 20px 0px;
	}
	.popup-city__tlt {
	    margin: 0px 0px 8px 0px;
	}
	.search--popup-city .search__submit {
	    width: 60px;
	}
	.popup-city__header {
	    margin: 0px 0px 20px 0px;
	}
	.popup-city__li--active .popup-city__link {
	    font-size: 14px;
	    line-height: 14px;
	}

	.popup-city__link {
	    font-size: 14px;
	    line-height: 14px;
        padding: 7px 0;
	}
	.popup-city__ul {
	    display: block;
	    height: 164px;
	}
	.popup-city__body {
	    margin: 0px 0px 24px 0px;
	}
	.form-popup {
	    padding: 24px !important;
	}
	.drop-list__head {
	    font-size: 14px;
	    line-height: 14px;
	}
	.drop-list__body p {
	    font-size: 12px;
	}
	.popup-body__rem-label {
	    font-size: 12px;
	    line-height: 12px;
	}
	.popup-body__pass-reset {
	    font-size: 12px;
	    line-height: 12px;
	}
	.tabs-form__btn {
	    font-size: 14px;
	    line-height: 14px;
	}
	.tabs-form__btn + .tabs-form__btn {
	    margin-left: 20px;
	}
	.edge__swiper {
	     margin-right: 0; 
	}

	.ordering__body {
	    text-align: center;
	}

	.way-select__item {
		flex: 1 1 100%;
		text-align: left;
	}

	.fields-ordering .fields-ordering__input {
	    width: calc(100% - 16px);
	    padding-left: 16px;
	    padding-right: 16px;
	}

	.way-select .way-select__label {
	    padding: 16px 40px 16px 16px;
	}

	.fields-ordering__textarea {
	    height: 148px;
	    margin-top: 8px;
	    padding-left: 16px;
	    padding-right: 16px;
	}

	.way-select__input + .way-select__label::before,
	.way-select__input:checked + .way-select__label::after {
	    top: 16px;
	    right: 16px;
	}
}

/* Потенциально 767px */
@media screen and (max-width:576px){
	.header-customers {
		display: none;
	}
	.header-caller {
		margin: 0 0 0 12px;
		flex-grow: initial;
	}
	.boxpanel__link {
		padding: 0px;
	}
	.boxpanel__link + .boxpanel__link {
		margin-left: 2px;
	}

	.filter__actions {
		display: block;
		text-align: center;
	}
	.filter__btn {
		width: 100%;
		margin: 0 0 16px;
	}

	.slider {
		display: flex;
		margin-bottom: 48px;
		overflow: initial;
	}
	.slider__image picture {
	    display: block;
		height: 100%;
		max-height: 360px;
	    overflow: hidden;
	}
	.slider .slick-list,
	.slider__item {
		overflow: initial;
	}
	.slider__image {
		margin-bottom: 26px;
	}
	.slider__img {
		height: 360px;
	}
	.slider__text {
		position: static;
		max-width: 100%;
		text-align: center;
	}
	.slider__title {
		font-size: 20px;
		margin-bottom: 8px;
		color: #0C0B0B;
	}
	.slider__info, 
	.slider__info p {
		font-size: 14px;
		color: #0C0B0B;
		margin-bottom: 0px;
	}
	.slider__arrows {
		height: 360px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: -22px;
		right: -22px;
		display: flex;
		justify-content: space-between;
		z-index: -1;
	}
	.slider__arrow {
		width: 22px;
		height: 100%;
		box-shadow: none;
		margin: 0;
		border-radius: 0;
	}
	.slider__arrow svg {
		width: 7px;
	}
	.week__title {
		font-size: 20px;
		text-align: center;
		margin-bottom: 16px;
	}
	.week-timer {
		justify-content: center;
	}
	.timer {
		margin: 0px 0px 25px 0px;
	}
	.product__title {
		height: initial;
		max-height: initial;
	}
	.product__title-link {
		color: #0C0B0B !important;
	}
	.product-week {
		border-left: none;
		border-right: none;
		/*padding: 22px 0;*/
		margin: 0;
	}
	.week__slider {
		max-height: initial;
		overflow: initial;
	}
	.navigate {
		display: none;
	}
	.pros__icon {
		margin: 0px 0px 40px 0px;
	}
	.pros__title {
		font-size: 14px;
		margin: 0px 0px 8px 0px;
	}
	.face .slick-slider {
		margin: 0 0 16px;
	}

	/* Catalog-list START */
	.makers__body {
		display: block;
	}
	.makers__text {
		margin: 0px 0px 50px 0px !important;
	}
	.makers__item {
		/*padding: 24px 0;*/
		border: none;
	}
	.certificates--prev,
	.certificates--next {
		display: none;
	}
	.certificates__body {
		overflow: initial;
		/*max-height: 308px;
		overflow: hidden;*/
	}
	/* Catalog-list END */
	.reviews__writem {
		padding: 0;
	}
	.reviews__body {
		overflow: initial;
	    margin: 0px 0px 24px;
	}
	.reviews-arrow--left,
	.reviews-arrow--right {
		display: none;
	}
	.nav-panel__item {
		width: 100%;
		text-align: center;
	}
	.offers-extand-more {
		display: none;
	}

	.news-box {
		display: flex;
	}
	.news-box__item:nth-child(3),
	.news-box__item:nth-child(4) {
		display: block;
	}
	.news-box__item {
		border: none;
		/*border-top: 1px solid #EFEFEF;
		border-bottom: 1px solid #EFEFEF;*/
		padding: 0;
		margin: 0;
		display: flex !important;
		flex-direction: column;
	}
	.main {
		padding: 24px 0;
	}
	.face .slick-slider {
		margin: 0 0 40px;
	}
	html {
		font-size: 6px;
	}
	.main__distance {
		/*padding: 24px 0;*/
	}
	.title {
		font-size: 20px;
		margin: 0px 0px 24px 0px;
		text-align: center;
	}
	.reviews__head {
		text-align: center;
		margin: 0px 0px 32px 0px;
	}
	.reviews__item {
		/*padding: 24px 0;*/
		padding: 0;
		border: none;
	}
	.nav-panel__item {
		padding: 13px 24px;
	}
	.tab-panel__btn {
		/*margin-bottom: 16px;*/
	}
	.product {
		border-left: none;
		border-right: none;
		/*padding: 22px 0;*/
	}
	.watched__body {
	    margin: 0 0px 16px;
	}
	.watched-offers {
	    margin: 0;
	}
	.cat-list__body {
		margin-bottom: 0;
	}
	.certificate__item {
		padding: 0;
		border: none;
	}
	.news-box__arrow--left,
	.news-box__arrow--right {
		display: none;
	}
	.news-box__image {
		padding-top: 245px;
	}
	.tab-body__content .slick-arrow {
		height: 245px;
	}
	.news-box__text {
		padding: 24px 0;
	}
	.watched__nav {
		display: none;
	}
	.news__tab-body {
		margin: 0px 0px 16px;
	}

	.catalog__vision {
	    grid-template-columns: repeat(1, 1fr);
	}

	.catalog__vision .product {

	}

	.catalog__vision .product__drop {
		position: static;
	    padding: 0;
	    border: none;
	    margin: 0;
	}

	.catalog__vision .drop-product__button {
		margin: 0;
	}

	.catalog__vision .drop-product__desc {
		display: none;
	}

	.vision--classic .cat-list--product {
		padding-bottom: 24px;
		margin-bottom: 24px;
		border-bottom: 1px solid #EFEFEF;
	}

	.vision--classic .product__prices {
		padding-bottom: 16px;
	}

	.vision--classic .product__amt-box {
		margin-top: 0;
	}

	.btn-empty {
		padding: 12px 20px;;
	}

	.product__inn {
		border: none;
	}

	.product__front {
		padding: 0;
		text-align: center;
	}

	.product__drop {
		padding: 16px 0 0 0;
	}

	.prices {
	    justify-content: center;
	}

	.makers__front {
	    text-align: center;
	}

	.makers__image {
	    align-self: center;
	}

	.makers__btn {
		justify-content: center;
	}

	.pros__item {
	    text-align: center;
	}

	.pros__img {
	    margin: 0 auto;
	}

	.cat-list__body .slick-arrow,
	.week__slider .slick-arrow {
		height: 220px;
	}

	.product__image {
	    min-height: 156px;
	}

	.product__img {
	    width: 100%;
	    max-height: 156px;
	}

	.edge__item {
		border: none;
	}

	.makers__front {
	    padding: 0;
	}

	.reviews__subtitle {
		margin: 0px 0px 24px 0px;
	}
	.eventsline {
	    width: 100%;
	}

	body.page-brand-catalog .makers__front {
	    padding: 24px;
	    border-bottom: 1px solid #EFEFEF;
	}

	body.page-brand-catalog .makers__text {
	    margin: 0px 0px 26px 0px !important;
	}

	body.page-brand-catalog .back-makers__return {
	    margin: auto auto;
	}

	.catalog__title span {
	    display: block;
	    margin: 8px auto 0;
	}

	.drop-caller__item {
	    padding: 20px;
	}

	.form-popup__buttons {
		display: block;
	}

	.form-popup__btn {
		width: 100%;
	}

	.form-popup__btn:first-child {
		margin: 0px 0px 16px 0px;
	}

	.makers__body--small {
		display: block;
		margin: 0;
	}
	.makers__body--small .makers__item {
		width: 100%;
		margin: 0;
	}

	/*.tab-body__content.slick-slider {
		margin: 0 -5px;
	}

	.tab-body__content.slick-slider .news-box__item {
	    margin: 0 5px;
	}*/

}

/* Потенциально 380px -> 479px */
@media screen and (max-width:479px){
	.boxpanel__name {
		font-size: 10px;
		line-height: 10px;
	}
	.slider__arrows {
		height: 240px;
	}
	.slider__img {
		height: 240px;
	}
	.slider__image {
		margin-bottom: 16px;
	}
	.slider__title {
		font-size: 18px;
	}
	.week__title {
		margin-bottom: 8px;
	}
	.boxpanel__link:first-child .boxpanel__name {
		width: 31px;
		overflow: hidden;
		white-space: nowrap;
	}
	.boxpanel__link:last-child {
	    padding-right: 1px;
	}
	.main {
		padding: 16px 0;
	}
	.product {
		margin: 0;
	}
	.reviews__body {
		margin: 0px 0px 16px;
	}
	.pros__inner {
		margin: 0;
	}
	.certificates__body .slick-prev {
		left: -16px;
	}
	.certificates__body .slick-next {
		right: -16px;
	}
	.slider__image picture {
		max-height: 240px;
	}
	.header-menu {
		display: none;
	}
	.header-main {
	    padding: 14px 0 16px;
	}
	body.page-main .main {
	    padding: 16px 0;
	}
	.main-menu-drop-2 .header-dopmenu {
	    margin-top: 0px;
	}
}

@media screen and (max-width:410px){
	.form-popup {
		padding: 24px !important;
	}
	.form-popup__title {
		font-size: 20px;
	}
	.form-popup__buttons {
		flex-wrap: wrap;
	}
	.form-popup__btn {
		width: 100%;
	}

	.drop-caller {
	    width: 265px;
	}
}

@media screen and (max-width:360px){
	.header-city__current {
		font-size: 12px;
	}
	.dropdown__current-link {
		font-size: 12px;
	}
	.header-caller {
		margin: 0 0 0 15px;
	}
}
