 .container {
	width: 100%;
	max-width: 1530px;
	margin: 0 auto;
	padding: 0  15px;
	box-sizing: border-box;
	position: relative;
}

.pros {
	margin: 20px 0;
}

.pros__inner {
	display: flex;
	justify-content: flex-start;
	margin: 0 -12px;
}

.pros__item {
	width: calc(25% - 24px);
	margin: 0 12px;
	background: #F7F7F7;
	border-radius: 4px;
	padding: 40px;
	;
}

.pros__icon {
	width: 48px;
	height: 48px;
	margin: 0px 0px 56px 0px;
}

.pros__title {
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	letter-spacing: -0.02em;
	color: #0C0B0B;
	margin: 0px 0px 14px 0px;
}

.pros__subtitle {
	font-size: 14px;
	line-height: 140%;
	letter-spacing: -0.02em;
	margin: 0px 0px 0px 0px;
}