@font-face {
	font-family: 'Muller';
	src: local('MullerBold'),
		url('MullerBold.woff2') format('woff2'),
		url('MullerBold.woff') format('woff'),
		url('MullerBold.ttf') format('truetype'),
		url('MullerBold.eot?#iefix') format('embedded-opentype');
	font-weight: 700;
	font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Muller';
	src: local('MullerMedium'),
		url('MullerMedium.woff2') format('woff2'),
		url('MullerMedium.woff') format('woff'),
		url('MullerMedium.ttf') format('truetype'),
		url('MullerMedium.eot?#iefix') format('embedded-opentype');
	font-weight: 500;
	font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Muller';
	src: local('MullerRegular'),
		url('MullerRegular.woff2') format('woff2'),
		url('MullerRegular.woff') format('woff'),
		url('MullerRegular.ttf') format('truetype'),
		url('MullerRegular.eot?#iefix') format('embedded-opentype');
	font-weight: 400;
	font-style: normal;
    font-display: swap;
}